.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  border-bottom: 1px solid #edf2f7;
}
.heading p {
  cursor: pointer;
  color: red;
}
.heading p:hover{
  color: green;
}


.container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.last {
  background-color: #edf2f7;
  color: black;
  border: 1px dotted black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}
.last label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 7px;
}
.last img {
  width: 15%;
  border: none;
  border-radius: 0px;
}
.last p {
  font-size: 1em;
}
.fileinput {
  display: none;
}

@media screen and (max-width: 1094px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr;
    }
    .last{
        text-align: center;
        font-size: small;
    }
    .last img {
        width: 16px;
    }
}